/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/assets/img/pool
/public/assets/img/unit
/public/assets/img/service
/public/unit.json
/public/hmkm.json
/public/dmcr.json
/public/assets/file/ppm
/public/assets/file/one_scania
